    font {
        font-family: 'Cabin', sans-serif;
    }   

    body {
        background-color: rgb(193, 227, 243);
      }


    h1    {
        font-family: 'Cabin', sans-serif;
        color: yellow;
        text-align: center;
        font-size: 300%;
    }

    h3    {
      font-family: 'Cabin', sans-serif;
      color: yellow;
      text-align: center;
      font-size: 200%;
  }



    .grid-container {
        display: grid;
        column-gap: 50px;
        grid-template-columns: auto auto auto;
        background-color: #ffd900;
        padding: 10px;
        grid-align: bottom;
        top-margin: 100px;
        bottom-margin: 100px;
      }
      
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }

      .img {
      width:200px;
      height:200px;
      top-margin: 30px;
      bottom-margin: 30px;
      align: center;
      }