    font {
        font-family: 'Cabin', sans-serif;
    }   

    body {
        background-color: rgb(229, 241, 229);
      }


  h1    {
        font-family: 'Cabin', sans-serif;
    }
